.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

ol {
    padding-left: 0;
    list-style: none;
}

li {
    width: 100%;
}

button {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border: 1px solid gray;

    &:hover {
        filter: brightness(90%);
    }
}
